.DS_Store
*.env
data/raw/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.csv
*.xlsx
*.zip
*.fgb
data/urban-atlas/urban-atlas.fgb.partab
data/urban-atlas/urban-atlas.fgb.partac
scripts/download_data.py
class_cut.md
feedback_important.md
group_internal_meeting.md
